# 基础科学计算
numpy
pandas

# 可视化
plotly
altair
# Web前端
streamlit

# 数据库支持（任选其一，建议conda安装sqlite3/psycopg2）
sqlalchemy
psycopg2  # PostgreSQL支持
sqlite3    # SQLite支持（conda自带）

# 其他常用工具
pyteomics
polars  # 必需
toml


# 其他依赖

# 下面为可选/开发相关
# pyinstaller